html,
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(red pink);
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  padding: 0;
  padding-inline-start: 0;
}

a {
  text-decoration: none;
}

.social-links a {
  margin-left: 18px;
  justify-content: flex-start;
}

.list a {
  text-decoration: none;
  list-style: none;
  margin-left: 20px;
  color: #091e42;
}

.langu a {
  color: #fff;
  font-size: 25px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.list-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  position: absolute;
  width: 255px;
  height: 40px;
  right: 294px;
  top: calc(50% - 74px / 2);
  color: #fff;
  justify-content: space-between;
  font-weight: 600;
  font-size: 15px;
  transition: all 0.5s ease-out;
}

.list-nav a {
  color: #f4f5f7;
  display: flex;
  justify-content: space-between;
}

.LANGUAGE a {
  color: #fff;
}

.project a {
  text-decoration: none;
  color: #fff;
}

.list-nav a:hover,
.list-nav a:focus {
  border: 1px solid #fff;
  color: red;
}

.header {
  justify-content: center;
  width: 375px;
  height: 92px;
  background: #3c3a39;
  display: flex;
  flex-direction: column;
}

.bar1 {
  display: flex;
  justify-content: space-between;
  color: aliceblue;
  margin-top: 17px;
  margin-left: 15px;
}

.bar1 img {
  height: 11.33598804473877px;
  width: 66.66152954101562px;
  left: 293.666015625px;
  top: 17.33056640625px;
  border-radius: [object object]px;
}

.bar2 {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
}

.bar2 h1 {
  font: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: aliceblue;
}

.bar2 img {
  width: 24px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-right: 20px;
  padding-top: 10px;
}

.container {
  margin: 0;
}

.banner {
  display: flex;
  width: 375px;
  height: 580px;
  background-color: #1c1a19;
  flex-direction: column;
  padding-top: 60px;
  background-image: url('/images/first.svg');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 40%;
}

.banner h1 {
  width: 327px;
  height: 75px;
  font-family: 'arial', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  padding-left: 20px;
}

.banner h2 {
  width: 327px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 2px;
  display: flex;
  color: #fff5e1;
  padding-left: 20px;
  order: 1;
  flex-grow: 0;
  margin-top: 8%;
}

footer p {
  margin-top: 100px;
  font-size: 32px;
  padding: 2px;
  font-weight: 700;
  margin-left: 18px;
  color: #172b4d;
  flex: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Inter', 'Times New Roman', Times, serif;
  font-style: normal;
}

.banner p {
  order: 2;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: white;
  flex: none;
  width: 327px;
  margin-left: 5%;
  margin-top: -2%;
}

.social-links {
  display: flex;
  width: 75px;
  flex-direction: row;
  order: 3;
  border-radius: 8px;
  margin-left: 20px;
}

.image img {
  position: absolute;
  left: 48.5%;
  width: 200px;
  top: 17%;
  padding: 90px 10px 0 10px;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  background-color: rgb(254, 250, 250);
  padding: 19px;
  gap: 1px;
  position: relative;
}

.grid-item1 {
  box-sizing: border-box;
  width: calc(340px - 10px);
  height: 750px;
  background-color: white;
  padding: 12px;
  margin-top: 2%;
}

.grid-item1 img {
  width: 310px;
  margin-top: 16%;
}

.grid-item1 h1 {
  width: 330px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 570;
  font-size: 36px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1c1a19;
  flex: none;
  order: 0;
  margin-top: 18%;
  flex-grow: 0;
}

.grid-item1 h2 {
  width: 327px;
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  display: flex;
  align-items: center;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.grid-item1 p {
  width: 337px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #091e42;
  flex: none;
  letter-spacing: 0.2px;
}

.list {
  display: flex;
  width: 100%;
  padding-left: 1px;
  font-size: 22px;
  font-weight: 400;
}

.list1 {
  box-sizing: border-box;
  padding: 5px 10px 0 1px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  margin-right: 20px;
  flex: 1;
  justify-content: center;
}

.LANGUAGE {
  width: 100%;
  order: 7;
  justify-content: center;
  align-content: center;
  margin-left: 30%;
  font-size: 16px;
  padding-top: 5px;
  color: #fff5e1;
  line-height: 38px;
}

.About img {
  width: 20px;
  height: 20px;
}

form li {
  margin-top: 25px;
  height: 20px;
}

input {
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin-top: 19px;
  height: 29px;
  border: none;
  color: #979493;
  font-size: 15px;
  line-height: 10px;
  font-family: 'Inter' Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
}

textarea {
  margin-left: 5%;
  height: 114px;
  width: 327px;
  padding-top: 45px;
  margin-top: 15px;
  border: none;
  font-size: 15px;
  background: #fbf8f7;
  font-weight: 400;
  color: #3c3a39;
  font-family: "inter" Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button {
  margin-top: 49%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 141px;
  height: 60px;
  background: #ff6b00;
  flex: none;
  order: 3;
  flex-grow: 0;
  text-align: center;
  justify-content: center;
  background-color: #ff6b00;
  margin-left: 24%;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  border: none;
  font-family: "inter" Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button:hover {
  background-color: black;
  color: white;
}

.langu ul li {
  font-weight: 700;
  padding-bottom: 10%;
  font-size: 30px;
}

.LANGUAGE ul li {
  list-style-type: none;
  margin: 20px;
  padding: 20px;
  color: #f4f5f7;
}

.my-projects {
  width: 337px;
  display: flex;
  flex-direction: column;
}

.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 124px;
  height: 48px;
  background-color: #ff6b00;
  color: #f4f5f7;
  order: 3;
  justify-content: center;
  font-size: 22px;
  font-weight: 700;
  flex: 1;
}

.project:hover {
  background-color: #8993a4;
}

.project a:hover {
  color: black;
}

.list2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 56px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.grid-item2 {
  width: calc(327px - 25px);
  height: 380px;
  background-color: white;
  background-image: url('./images/bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px;
  z-index: 1;
}

.grid-item2 h1 {
  width: 295px;
  height: 81px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-top: 10%;
}

.grid-item2 p {
  width: 295px;
  height: 87px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.projects {
  display: flex;
  width: 100%;
  height: 70px;
}

.list5 {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #fff5e1;
  margin-right: 10px;
  opacity: 50%;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}

.action-bar {
  display: flex;
  background-color: #ff6b00;
  width: 325px;
  height: 48px;
  margin-left: -10px;
  align-items: center;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  justify-content: center;
}

.projects2 {
  width: calc(327px - 25px);
  height: 380px;
  background-color: white;
  background-image: url('./images/bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px;
}

.projects2 h1 {
  width: 295px;
  height: 81px;
  font-family:
    'Crete Round',
    'Lucida Sans',
    'Lucida Sans Regular',
    'Lucida Grande',
    'Lucida Sans Unicode',
    Geneva,
    Verdana,
    sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.projects2 p {
  width: 295px;
  height: 87px;
  font-family:
    'Inter',
    'Franklin Gothic Medium',
    'Arial Narrow',
    Arial,
    sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.projects3 p {
  width: 295px;
  height: 67px;
  font-family:
    'Inter',
    'Franklin Gothic Medium',
    'Arial Narrow',
    Arial,
    sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.projects3 h1 {
  width: 295px;
  height: 81px;
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-top: 10%;
}

.grid-item3 h1 {
  width: 295px;
  height: 81px;
  font-family:
    'Crete Round',
    'Lucida Sans',
    'Lucida Sans Regular',
    'Lucida Grande',
    'Lucida Sans Unicode',
    Geneva,
    Verdana,
    sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.projects4 p {
  width: 295px;
  height: 87px;
  font-family:
    'Inter',
    'Franklin Gothic Medium',
    'Arial Narrow',
    Arial,
    sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.projects4 h1 {
  width: 295px;
  height: 81px;
  font-family:
    'Crete Round',
    'Lucida Sans',
    'Lucida Sans Regular',
    'Lucida Grande',
    'Lucida Sans Unicode',
    Geneva,
    Verdana,
    sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.grid-item3 p {
  width: 295px;
  height: 87px;
  font-family:
    'Inter',
    'Franklin Gothic Medium',
    'Arial Narrow',
    Arial,
    sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.grid-item4 h1 {
  width: 295px;
  height: 81px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-top: 10%;
}

.grid-item4 p {
  width: 295px;
  height: 87px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.grid-item3 {
  width: calc(327px - 25px);
  height: 380px;
  background-color: white;
  background-image: url('./images/bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px;
}

.projects3 {
  width: calc(327px - 25px);
  height: 380px;
  background-color: white;
  background-image: url('./images/bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px;
}

.grid-item4 {
  width: calc(327px - 25px);
  height: 380px;
  background-color: white;
  background-image: url('./images/bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px;
}

.projects4 {
  width: calc(327px - 25px);
  height: 380px;
  background-color: white;
  background-image: url('./images/bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px;
  margin-top: 8%;
}

.About {
  display: flex;
  width: 375px;
  height: 1300px;
  background-color: #1c1a19;
  flex-direction: column;
  position: absolute;
  top: 4000px;
  margin-left: 1px;
  font-size: 22px;
}

.aboutme {
  display: flex;
  width: 375px;
  height: 580px;
  background-color: #1c1a19;
  flex-direction: column;
  background-image: url('./images/Group.svg');
  padding-top: 25%;
  background-position: 100% 69%;
  background-repeat: no-repeat;
  background-size: 42%;
  order: 2;
}

.aboutme h1 {
  width: 327px;
  height: 30px;
  font-family:
    'Crete Round' Impact,
    Haettenschweiler,
    'Arial Narrow Bold',
    sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 68px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  margin-top: 15%;
  order: 0;
  flex-grow: 0;
  margin-left: 10%;
}

.aboutme p {
  font-family:
    'Inter' system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #f4f5f7;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 8px;
  line-height: 24px;
}

.resume {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 145px;
  height: 38px;
  background: #ff6b00;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-left: 10px;
  color: #fff;
}

.resume:hover {
  background-color: #fff;
  color: #1c1a19;
}

.About hr {
  width: 85%;
  background-color: #fff;
  order: 5;
  margin-top: 35%;
}

footer {
  position: absolute;
  background-color: white;
  display: flex;
  order: 120;
  margin-top: 100px;
  flex-direction: column;
  top: 325em;
  width: 375px;
  height: 400px;
}

.icons {
  height: 100px;
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

/* footer icons  */
.footer-social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  color: #505f79;
  margin-top: 5px;
}

.bar {
  width: 134px;
  height: 5px;
  background: #0d151e;
  border-radius: 3px;
}

/* @media------- */
@media only screen and (max-width: 414px) {
  .header {
    background-color: #3c3a39;
    width: 100%;
  }

  .banner {
    width: 100%;
  }

  .aboutme {
    width: 100%;
  }

  .About {
    width: 100%;
  }

  .list-nav {
    display: inline;
  }
}



@media only screen and (max-width: 768px) {
  .header {
    background-color: #3c3a39;
    width: 100%;
  }

  .list-nav {
    display: none;
  }

  .multi-story h2 {
    display: flex;
    width: 448px;
    height: 48px;
    font-family: 'Crete Round' Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    align-items: center;
    color: #091e42;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .banner {
    width: 100%;
    display: grid;
    background: #1c1a19;
    padding-top: 50px;
    background-image: url(./images/Illustration-header@2x.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 50%;
    height: 500px;
  }

  .banner h1 {
    margin-top: 2%;
    margin-left: 6%;
  }

  .banner h2 {
    margin-top: -2%;
    margin-left: 20%;
  }

  .banner p {
    margin-top: -13%;
    margin-left: 8%;
  }

  .social-links {
    flex-direction: column;
    margin-top: -30%;
    margin-left: -0.4%;
    justify-content: space-between;
    height: 60px;
  }

  .aboutme hr {
    margin-top: 30%;
    border: 1px solid #fff;
  }

  .LANGUAGE {
    margin-top: 50%;
  }
}


@media only screen and (min-width: 768px) {

  .header {
    position: absolute;
    width: 100%;
    height: 72px;
    left: 0;
    top: 0;
    background: #3e3c3c;
  }

  nav,
  .bar1 {
    display: none;
  }

  .bar2 h1 {
    width: 202px;
    height: 20px;
    font-family: 'Inter' Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 7%;
  }

  .container {
    width: 100%;

  }

  .banner {
    display: grid;
    flex-direction: row;
    width: 100%;
    height: 870px;
    background: #1c1a19;
    padding-top: 60px;
    background-image: url(./images/Illustration-header@2x.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 35%;
  }


  .banner h1 {
    width: 70%;
    font-family: 'Crete Round', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 82px;
    color: #f55800;
    flex: none;
    text-align: left;
    margin-top: 8%;
    display: grid;
    margin-left: 9%;
  }

  .grid-item2 p,
  h2 {
    display: none;
  }

  .banner h2 {
    width: 70%;
    text-align: center;
    display: grid;
    flex: none;
    margin-top: -2%;
    margin-left: -19%;
  }

  .banner p {
    width: 70%;
    height: auto;
    font-family: 'Inter' 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    flex: none;
    order: 5;
    display: grid;
    flex-grow: 0;
    margin-top: -14%;
    text-align: left;
    margin-left: 10%;
  }

  .social-links {
    width: 10%;
    flex-direction: column;
    height: 90%;
    display: flex;
    justify-content: space-around;
    margin-top: -15%;

  }

  .grid-container {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    display: row;
    justify-content: center;
  }

  .grid-item1 {
    width: 1440px;
  }

  .grid-item1 h1 {
    width: 345px;
    height: 52px;
    font-family: 'Crete Round' 'Times New Roman', Times, serif;
    margin-left: 8%;
    font-size: 40px;
    margin-top: 10%;
  }

  hr {
    width: 794px;
    height: 0;
    border: 1px solid #212121;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: -4%;
    margin-right: 10%;
  }

  .multi-story img {
    width: 684px;
    height: 448px;
    background: url(image_processing20200716-21735-f07s4k.png);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 10%;
  }

  .multi-story {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .post {
    margin-top: 8%;
  }

  .multi-story h2 {
    width: 448px;
    height: 48px;
    font-family: 'Crete Round' 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
  }

  .multi-story p {
    width: 448px;
    height: 140px;
    font-family: 'Inter' 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #091e42;
    flex: none;
    order: 1;
    flex-grow: 0;
    display: flex;
  }

  .my-projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5%;
    padding: 10px;
    gap: 19px;
    align-items: center;
    justify-content: center;
  }

  .grid-item2 {

    height: 100%;
    background: url(./images/Mask\ Group.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .projects2 {

    height: 100%;

    background: url(./images/grid\ 2.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .projects2 h1 {
    width: 337px;
    font-family: 'Crete Round' Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    margin-top: 25%;
    flex: none;
    order: 0;
    flex-grow: 0;
    flex-wrap: wrap;
  }

  .grid-item3 {

    height: auto;
    margin-top: -5%;
    background: url(/images/Img\ Placeholder\ \(2\).png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .grid-item3 h1 {
    width: 337px;
    font-family: 'Crete Round' Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    margin-top: 25%;
    flex: none;

  }

  .projects3 {

    height: auto;
    background-image: url(./images/Mask\ Group.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .projects3 h1 {
    width: 337px;
    font-family: 'Crete Round' Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    margin-top: 25%;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .grid-item4 {

    height: auto;

    background: url(./images/grid\ 2.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .grid-item4 h1 {
    width: 337px;
    font-family: 'Crete Round' Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    color: #fff;
    margin-top: 20%;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .projects4 {

    height: auto;
    margin-top: -10%;
    background: url(/images/Img\ Placeholder\ \(2\).png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .projects4 h1 {
    width: 337px;
    font-family: 'Crete Round' Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    margin-top: 20%;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .action-bar {
    display: none;
  }

  .projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Inter' Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-top: 1%;

  }

  .About {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 1100px;
    top: 2900px;
  }

  .aboutme {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background: url(./images/illustration-about\ me@2x.png);
    background-position: 100% 10%;
    background-repeat: no-repeat;
    background-size: 30%;
  }

  .part1 {
    display: flex;
    flex-direction: column;
    width: 566px;
    height: 148px;
    font-family: 'Inter' Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: -22%;
    margin-left: 10%;
  }

  .part1 h1 {
    font-size: 72px;
    text-align: left;
    margin-left: 2%;
  }

  .part1 p {
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    line-height: 32px;
    font-family: 'Inter' Verdana, Geneva, Tahoma, sans-serif;
  }

  .aboutme hr {
    margin-top: 15%;
    border: 1px solid #fff;
  }

  .LANGUAGE {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    justify-content: space-evenly;
    font-size: 22px;
    font-family: 'Inter' Verdana, Geneva, Tahoma, sans-serif;
    margin-left: -2%;
  }

  .heading {
    font-size: 32px;
    font-family: 'Inter' Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
  }

  footer {
    width: 100%;
    display: flex;
    margin-top: -50%;
    justify-content: space-between;
  }

  .footer-p {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    margin-left: 5%;
  }

  .form-p p {
    width: 720px;
    font-size: 40px;
    text-align: left;
    margin-left: 35%;
    color: #262626;
    margin-top: 5%;
    font-family: 'Inter' Verdana, Geneva, Tahoma, sans-serif;
  }

  .form {
    width: 720px;
  }

  .icons {
    margin-left: 8%;
    margin-top: 1%;
    order: 2;
    display: flex;
  }

  .button {
    margin-top: -30%;
    margin-left: -25%;
  }

  .footer-social-links {
    display: flex;
    width: 10%;
  }

  .list5 {
    height: 35px;
    width: auto;
  }

  .list5:hover {
    background-color: orangered;
    color: white;
  }

  .lst {
    display: none;
  }

  .list5 a {
    margin: 5px;
  }

  .actn-bar {
    display: flex;
    width: 100%;
    margin-top: 20%;
    justify-content: first baseline;
  }

  .actn-bar:hover {
    background-color: #f4f5f7;
    color: #0d151e;
  }
}